<!DOCTYPE html>
<html>
<head>
  <title>My Sample App</title>
  <link rel="stylesheet" type="text/css" href="app.css">
</head>

<body ng-app="myApp" ng-controller="questionsController">
  <h3>List of Questions</h3>
  <input type="text" ng-model="questionFilter" ng-change="searchFiltered()" placeholder="Search..."/>
  <ul>
      <li ng-repeat="question in questionsList">{{$index + 1}} - {{question.question}}</li>
  </ul>

  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="app.js"></script>
  <script src="services.js"></script>
  <script src="controllers.js"></script>
</body>
</html>